# Cấu hình Database (Thay thông tin db ở máy bạn vào đây)
DATABASE_URL=postgresql://user_cua_ban:pass_cua_ban@localhost:5432/ten_db_cua_ban

# Khóa bí mật bảo mật JWT (Điền chuỗi ngẫu nhiên bất kỳ)
SECRET_KEY=nhap_mot_chuoi_bi_mat_bat_ky_vao_day

# Thuật toán và thời gian sống của Token
ALGORITHM=HS256
